<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Simple_Workflow>
            <active>true</active>
            <codePool>local</codePool>
            <version>0.1.1</version>
        </Simple_Workflow>
    </modules>
    <global>
        <models>
            <simple_workflow>
                <class>Simple_Workflow_Model</class>
            </simple_workflow>
            <customer>
                <rewrite>
                    <customer>Simple_Workflow_Model_Customer</customer>
                </rewrite>
            </customer>
            <sales>
                <rewrite>
                    <order>Simple_Workflow_Model_Order</order>
                </rewrite>
            </sales>
        </models>
        <helpers>
            <simple_workflow>
                <class>Simple_Workflow_Helper</class>
            </simple_workflow>
        </helpers>
    </global>
    <default>
        <simple_workflow>
            <aws>
                <key>changeme</key>
                <secret_key>change</secret_key>
                <region>us-east-1</region>
            </aws>
            <general>
                <domain>simple-domain</domain>
            </general>
            <customer_send_new_account_email>
                <enabled>1</enabled>
            </customer_send_new_account_email>
            <order_send_new_order_email>
                <enabled>1</enabled>
            </order_send_new_order_email>
        </simple_workflow>
    </default>
</config>